In [2]:
import pandas as pd

In [9]:
toys = pd.DataFrame([
...     {"name": "ball", "shape": "sphere"},
...     {"name": "Rubik's cube", "shape": "cube"},
        {"name": "Rubik's cube", "shape": "cube"}
... ])

In [10]:
toys

           name   shape
0          ball  sphere
1  Rubik's cube    cube
2  Rubik's cube    cube

In [16]:
toys.query("shape == 'cube'")
# equivalent 
toys[toys["shape"] == 'cube']

           name shape
1  Rubik's cube  cube
2  Rubik's cube  cube

In [23]:
# permet de recuperer la colonne 
toys.filter(items=["shape"])

    shape
0  sphere
1    cube
2    cube