In [1]:
import pandas as pd

In [9]:
toys = pd.DataFrame([
...     {"name": "ball", "shape": "sphere"},
...     {"name": "Rubik's cube", "shape": "cube"},
        {"name": "Rubik's cube", "shape": "cube"}
... ])

In [10]:
toys

           name   shape
0          ball  sphere
1  Rubik's cube    cube
2  Rubik's cube    cube

In [11]:
# changes changes impact 

test = toys.copy() # without deep copy, any modif will impact the other toys dataset
test.name = "love"
test

   name   shape
0  love  sphere
1  love    cube
2  love    cube

In [12]:
toys

           name   shape
0          ball  sphere
1  Rubik's cube    cube
2  Rubik's cube    cube

In [16]:
toys.query("shape == 'cube'")
# equivalent 
toys[toys["shape"] == 'cube']

           name shape
1  Rubik's cube  cube
2  Rubik's cube  cube

In [23]:
# permet de recuperer la colonne 
toys.filter(items=["shape"])

    shape
0  sphere
1    cube
2    cube

In [ ]:
# Sélectionnez les indices des personnes où black == 0 et hispan == 0
selected_indices = df[(df['black'] == 0) & (df['hispan'] == 0)].index

# Ajoutez une nouvelle colonne 'white' avec des valeurs 1 pour les personnes sélectionnées
df['white'] = 0  # Initialisez la colonne 'white' avec des valeurs 0 partout
df.loc[selected_indices, 'white'] = 1  # Mettez 1 pour les personnes sélectionnées

# Maintenant, le DataFrame df a une nouvelle colonne 'white' avec des 1 pour les personnes correspondantes.